img
{
	max-width:  100%;
	max-height:  100%;
}

a
{
	text-decoration:  none!important;
}

ul
{
	list-style-type:  none;
}

/*
 * Sets the height to match the other two step columns.
 * Setting the overflow to auto forces the plot lists
 * to fit into the div and makes it scrollable.
 */
#step2plots, #lennarhouses, #brookfieldhouses
{
	height:  33.5em;
	overflow: auto;
}

.jumbotron, .step
{
	text-align: center;
}
.row
{
	text-align:  left;
}

#energy_graph
{
	margin-left: auto;
	margin-right: auto;
	
	height: 25em;
	max-width: 100%;
}

.buttons > li
{
	display: inline;
}


